$font-stack-first: 'Raleway', sans-serif;

$font-stack-second: 'Montserrat', sans-serif;

/*.menu {
	background: red;
	@media (min-width: @screen-sm-min) { 
		background: blue;
	}

	@media (min-width: @screen-md-min) { ... }
}*/

/* width: 100%;   content-width: 1400px; */

/* Tablet-width: 700px */

/* Phone-width: 320px */